.product-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100vw - 280px);

  &.hide {
    width: calc(100vw - 40px);
  }

  .article-wrapper {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .category-title {
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
  }

  .no-articles {
    margin: 20px 30px;
  }
}