.product-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .lazy-load-image-loaded, .article-name, .article-price {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
