@use '../components/header/Header.scss';
@use '../components/Sidebar/Sidebar.scss';
@use '../layouts/mainLayout/MainLayout.scss';
@use '../components/product/ProductList.scss';
@use '../components/product/productCart/ProductCart.scss';

@font-face {
  font-family: 'OswaldFont';
  src: url('../assets/fonts/Oswald-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'OswaldFont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }