@use '../../style/sheared' as variable;

.header-height {
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: variable.$header-height;
    border-bottom: 1px solid variable.$default-border-color;
}